<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>"Top 50 Locales" Covid Info</title>
</style>
</head>
  <body>
  <div id="map"></div>
    <div class="map-overlay" id="features">
    <h2>Vacation Destinations</h2>
  <div id="pd"><p>Covids Cases!</p></div>
    <div class="map-overlay" id="legend"></div>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="anonymous" />
  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="anonymous"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/design.css">
</head>
  <!-- The div where we'll insert our map -->
  <div id="map"></div>
  <!-- JavaScript files -->
  <!-- <script type="text/javascript" src="maplogic4.js"></script> -->
  <script type="text/javascript" src="static/js/maplogic4.js"></script>
</body>
</html>